<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <appSettings>
    <add key="RemoteReaderAssembly" value="Symbol.RFID.SDK.Domain.Reader.dll"/>
    <add key="RemoteReaderService" value="Symbol.RFID.SDK.Domain.Reader.ZetiRfidReader"/>
    <add key="RemoteReaderInfrastructureServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.dll"/>
    <add key="RemoteReaderInfrastructureService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.ZetiRfidReaderAdapter"/>
    <add key="RemoteReaderConnectionAssembly" value="Symbol.RFID.SDK.Connectivity.Windows.dll"/>
    <add key="RemoteReaderConnectionService" value="Symbol.RFID.SDK.Connectivity.Windows.SocketDeviceConnection"/>
    <add key="RemoteReaderDiscoveryServiceAssembly" value="Symbol.RFID.SDK.Discovery.Windows.dll"/>
    <add key="RemoteReaderDiscoveryService" value="Symbol.RFID.SDK.Discovery.Windows.ReaderWatcher"/>
    <add key="RemoteReaderManagementServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.dll"/>
    <add key="RemoteReaderManagementService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.RemoteReaderManagement"/>
    <add key="LogEnabled" value="true"/><add key="LogNamespace" value="all"/>
  </appSettings>
</configuration>
